<% if !!flash[:error] %>
	<div class="notification is-danger">
  		<h4><%= flash[:error] %></h4>
  	</div>
<% end %>

<div class="columns">
	<div class="column is-8 is-offset-2">
		<a class="button is-warning is-rounded" style="float:right;" href="/groups/new">Create New Group</a>


		<h1 class="title is-2">Public Groups:</h1>

		<% @groups.each do |group| %>
			<a href="/groups/<%=group.id%>">
				<article class="message is-warning">
					<div class="message-header">
						<%=group.name%>
					</div>
					<div class="message-body">
						<strong>Lead by <%=group.leader.username%></strong>
						<br>
						<%=group.description%>
					</div>
				</article>
			</a>
			<br>
		<% end %>
	</div>
</div>

