<% if !!flash[:message] %>
  <h4 style="color:green;""><%= flash[:message] %></h4>
<% end %>

<% if !!flash[:error] %>
  <h4 style="color:red;""><%= flash[:error] %></h4>
<% end %>

<h1><%=@group.name%></h1>
<h3>Leader: </h3>
<%=@group.leader.name %>
<br>
<h3>Description:</h3>
<p><%=@group.description%></p>
<br>
<br>



<h3>Members: </h3>
<ul>
	<% @group.members.each do |user| %>
		<li><%=user.name%></li>
	<% end %>
</ul>

<% if @group.leader == current_user %>
	<form method="post" action="/groups/<%=@group.id%>/add_member">
		<label for="add_member">Add Member By Name, Email, or Username:</label>
		<br>
		<input type="text" id="add_member" name="add_member"/>
		<input type="submit" value="Add Member"/>
	</form>
<% end %>

<br><br>

<h3>Group Prayers: </h3>
<% @group.prayers.each do |prayer| %>
	<% if prayer.anonymous? %>
		<a href="/prayers/<%=prayer.id%>"><li>Anonymous: <%=prayer.overview%></li></a>
	<% else %>
		<a href="/prayers/<%=prayer.id%>"><li><%=prayer.author.name%>: <%=prayer.overview%></li></a>
	<% end %>
<% end %>
<br><br>



<!-- Group administrative buttons -->

<% if !@group.private? && !@group.members.include?(current_user) %>
    <a href="/groups/<%=@group.id%>/join">Join Group</a>
<% end %>

<% if @group.leader != current_user && @group.members.include?(current_user) %>
    <a href="/groups/<%=@group.id%>/leave">Leave Group</a>
<% end %>

<br><br>

<% if @group.leader == current_user %>
    <a href="/groups/<%=@group.id%>/edit">Edit Group</a>
<% end %>

<br>

<% if @group.leader == current_user %>
    <a href="/groups/<%=@group.id%>/delete">Delete Group</a>
<% end %>