<div class="columns">
	<div class="column is-8 is-offset-2">
		<h1 class="title is-3 is-spaced">Account Info</h1>
		<h4 class="subtitle is-6"><strong>Username:</strong> <%= @user.username %></h4>
		<h4 class="subtitle is-6"><strong>Email:</strong> <%= @user.email %></h4>
		<p>--------------------</p>
		<h4 class="subtitle is-6"><strong>Full Name:</strong> <%=@user.name %></h4>
		<h4 class="subtitle is-6"><strong>Home Church:</strong> <%=@user.church %></h4>
		<h4 class="subtitle is-6"><strong>Favorite Verse:</strong> <%=@user.verse %></h4>
		<br>


		<h2 class="title is-5">Prayer Groups:</h2>
		<% if @user.groups.size == 0 %>
			<h4>You have not joined any <a href="/groups">groups</a> yet</h4>
		<% end %>

		<%@user.groups.each do |group| %>
			<a class="button is-light" href="/groups/<%=group.id%>"><%=group.name%></a>
		<% end %>

		<br><br>
		<p>--------------------</p>
		<br>
		<h2 class="title is-3">Prayers: </h2>
		<% @user.prayers.sort.reverse.each do |prayer| %>
			<a href="/prayers/<%=prayer.id%>">
				<article class="message">
						<div class="message-header">
					  	<% if prayer.anonymous? %>
							<p>Posted as Anonymous</p>
						<% else %>
							<p>Posted as <%=prayer.author.name%></p>
						<% end %>
					</div>
					<div class="message-body">
							<%=prayer.overview%><br>
					</div>
				</article>
			</a>
			<br>
		<% end %>

		<a class="button is-info account" href="/users/<%=@user.id%>/edit">Edit Account</a>
		<a class="button is-danger account" href="/users/<%=@user.id%>/delete">Delete Account</a>
	</div>
</div>