<div class="columns">
	<div class="column is-8 is-offset-2">
		<h1 class="title is-2">Account Info</h1>
		<br>
		<h4 class="subtitle is-5">Username: <%= @user.username %></h4>
		<h4 class="subtitle is-5">Email: <%= @user.email %></h4>
		<p>--------------------</p>
		<h4 class="subtitle is-6">Full Name: <%=@user.name %></h4>
		<h4 class="subtitle is-6">Home Church: <%=@user.church %></h4>
		<h4 class="subtitle is-6">Favorite Verse: <%=@user.verse %></h4>
		<br><br>
		<h2 class="title is-6">Prayer Groups:</h2>
		<h4><%= "You have not joined any groups yet" if @user.groups.size == 0 %></h4>
		<ul>
			<%@user.groups.each do |group| %>
				<a class="button is-light" href="/groups/<%=group.id%>"><li><%=group.name%></li></a>
			<% end %>
		</ul>
		<br><br>

		<h2 class="title is-6">Prayers: </h2>
		<% @user.prayers.sort.each do |prayer| %>
			<% if prayer.anonymous? %>
				<a href="/prayers/<%=prayer.id%>"><li>Anonymous: <%=prayer.overview%></li></a>
			<% else %>
				<a href="/prayers/<%=prayer.id%>"><li><%=prayer.author.name%>: <%=prayer.overview%></li></a>
			<% end %>
		<% end %>
		<br><br>



		<a href="/users/<%=@user.id%>/edit">Edit Account Info</a>
	</div>
</div>