<% if !!flash[:error] %>
	<div class="notification is-danger">
  		<h4><%= flash[:error] %></h4>
  	</div>
<% end %>

<div class="columns">
	<div class="column is-8 is-offset-2">
		<h1 class="title is-2">Edit Prayer Request</h1>
		<form method="post" action="/prayers/<%=@prayer.id%>">
			<input type="hidden" id="hidden" name="_method" value="patch"/>
			<label for="prayer_overview" class="subtitle is-5">What would you like others to pray about?</label>
			<input class="input" type="text" id="prayer_overview" name="overview" size=60 value="<%=@prayer.overview%>"/>
			<br><br>
			<textarea class="textarea" type="text" id="prayer_details" name="details" size=60/><%=@prayer.details%></textarea>
			<label for="anonymous_prayer">Post prayer anonymously? </label>
			<input type="checkbox" id="anonymous_prayer" name="anonymous" <%="checked" if @prayer.anonymous? %>/>
			<label for="public_prayer">Is this a public prayer? </label>
			<input type="checkbox" id="public_prayer" name="public" <%="checked" if current_user.groups.count == 0 || @prayer.public? %>/>
			<br><br>

			<% if current_user.groups.count > 0 %>
				<h4 class="title is-4">Post to a group?</h4>
				<% current_user.groups.each do |group| %>
					<label for="group_<%=group.id%>"><%=group.name%></label>
					<input type="checkbox" id="group_<%=group.id%>" name="group_id[]" value="<%=group.id%>" <%="checked" if group.prayers.include?(@prayer) %>/>
					<br><br>
				<% end %>
			<% end %>
			<input class="button is-info" type="submit" value="Edit Prayer"/>
			<a class="button is-text" href="/prayers/<%=@prayer.id%>">Cancel</a>
		</form>
	</div>
</div>
