<% if !!flash[:error] %>
	<div class="notification is-danger">
  		<h4><%= flash[:error] %></h4>
  	</div>
<% end %>

<h1>Edit Prayer Request</h1>
<form method="post" action="/prayers/<%=@prayer.id%>">
	<input type="hidden" id="hidden" name="_method" value="patch"/>
	<h4><label for="prayer_overview">What would you like others to pray about?</label></h4>
	<input type="text" id="prayer_overview" name="overview" size=60 value="<%=@prayer.overview%>"/>
	<br><br>
	<input type="text" id="prayer_description" name="description" size=60 value="<%=@prayer.description%>"/>
	<br><br>
	<label for="anonymous_prayer">Post prayer anonymously? </label>
	<input type="checkbox" id="anonymous_prayer" name="anonymous" <%="checked" if @prayer.anonymous? %>/>
	<label for="public_prayer">Is this a public prayer? </label>
	<input type="checkbox" id="public_prayer" name="public" <%="checked" if @prayer.public? %>/>
	<br><br>

	<% if current_user.groups.count > 0 %>
		<h4>Post to a group?:</h4>
		<% current_user.groups.each do |group| %>
			<label for="group_<%=group.id%>"><%=group.name%></label>
			<input type="checkbox" id="group_<%=group.id%>" name="group_id[]" value="<%=group.id%>" <%="checked" if group.prayers.include?(@prayer) %>/>
			<br><br>
		<% end %>
	<% end %>
	<br><br>
	<input type="submit" value="Edit Prayer"/>
</form>
