<% if !!flash[:greeting] %>
  <h4><%= flash[:greeting] %></h4>
  <br>
<% end %>

<% if !!flash[:error] %>
  <h4 style="color:red;""><%= flash[:error] %></h4>
<% end %>

<div class="columns">
	<div class="column is-8 is-offset-2">
		<a class="button is-info is-rounded new_prayer" href="/prayers/new">New Prayer Request</a>

		<% if @prayers.count > 0 %>
			<h2 class="title">So many prayers to pray about!</h2>
			<% @prayers.each do |prayer| %>
				<a href="/prayers/<%=prayer.id%>">
					<div class="box prayer">
					  	<article class="media">
					    	<div class="media-content">
					      		<div class="content">
					        		<p>
					        			<% if prayer.anonymous? %>
											<strong>Anonymous - </strong>
										<% else %>
											<strong><%=prayer.author.username%> - </strong>
										<% end %>
										<em><%=prayer.overview%></em>
										<br>
										<%=prayer.description%>
					        		</p>
					      		</div>
					    	</div>
					  	</article>
					</div>
				</a>
			<% end %>
		<% else %>
			<h2 class="title">No public prayers to display</h2>
		<% end %>
	</div>
</div>