<% if !!flash[:greeting] %>
  <h4><%= flash[:greeting] %></h4>
  <br>
<% end %>

<a href="/prayers/new">New Prayer Request</a>

<h2>So many prayers to pray about!</h2>
<ul>
<% @prayers.each do |prayer| %>
	<% if prayer.anonymous? %>
		<a href="/prayers/<%=prayer.id%>"><li>Anonymous: <%=prayer.overview%></li></a>
	<% else %>
		<a href="/prayers/<%=prayer.id%>"><li><%=prayer.author.name%>: <%=prayer.overview%></li></a>
	<% end %>
<% end %>
</ul>