<% if !!flash[:greeting] %>
  <h4><%= flash[:greeting] %></h4>
  <br>
<% end %>

<% if !!flash[:error] %>
  <h4 style="color:red;""><%= flash[:error] %></h4>
<% end %>

<a href="/prayers/new">New Prayer Request</a>

<% if @prayers.count > 0 %>
	<h2>So many prayers to pray about!</h2>
	<ul>
	<% @prayers.each do |prayer| %>
		<% if prayer.anonymous? %>
			<a href="/prayers/<%=prayer.id%>"><li>Anonymous: <%=prayer.overview%></li></a>
			<br>
		<% else %>
			<a href="/prayers/<%=prayer.id%>"><li><%=prayer.author.username%>: <%=prayer.overview%></li></a>
			<br>
		<% end %>
	<% end %>
	</ul>
<% else %>
	<h2>No public prayers to display</h2>
<% end %>