<h2><%= @prayer.overview %></h2>

<h3><%= "Description:" if !!@prayer.description %></h3>
<p><%= @prayer.description %></p>

<br><br>

<% if @prayer.anonymous? && @prayer.author == current_user%>
	<h4>(You posted this anonymously)</h4>
<% elsif @prayer.anonymous? %>
	<h4>Posted by: Anonymous</h4>
<% elsif @prayer.author == current_user%>
	<h4>You posted this</h4>
<% else %>
	<h4>Posted by: <%=@prayer.author.username %></h4>
<% end %>

<h4>on <%= @prayer.created_at.strftime("%m/%d/%y at %I:%M%p %Z")%></h4>

<br>

<h4>Posted in:</h4>
<ul>
<%if @prayer.public? %>
<a href="/prayers"><li>To Public</li></a>
<% end %>

<% @prayer.groups.each do |group| %>
	<a href="/groups/<%=group.id%>"><li><%=group.name%></li></a>
<% end %>
</ul>



<% if @prayer.author == current_user %>
    <a href="/prayers/<%=@prayer.id%>/edit">Edit Prayer</a>
<% end %>

<br>

<% if @prayer.author == current_user %>
    <a href="/prayers/<%=@prayer.id%>/delete">Delete Prayer</a>
<% end %>