<div class="columns">
	<div class="column is-8 is-offset-2">
		<div class="content">
			<h1 class="title is-3"><%= @prayer.overview %></h1>

			<% if @prayer.anonymous? && @prayer.author == current_user%>
				<p class="subtitle is-6">You posted this anonymously 
			<% elsif @prayer.anonymous? %>
				<p class="subtitle is-6">Posted by Anonymous
			<% elsif @prayer.author == current_user%>
				<p class="subtitle is-6">You posted this
			<% else %>
				<p class="subtitle is-6">Posted by <a href="/users/<%=@prayer.author.id%>"><%=@prayer.author.username%></a>
			<% end %>

			on <%= @prayer.created_at.strftime("%m/%d/%y at %I:%M%p %Z")%></p>


			<br>
			<article class="message is-dark">
			  	<div class="message-body">
			    	<%= @prayer.details %>
			  	</div>
			</article>


			<% if @prayer.author == current_user %>
				<h5>You shared this in:</h5>
				
				<%if @prayer.public? %>
					<a href="/prayers">[Public]</a>
					<br>
				<% end %>

				<% @prayer.groups.each do |group| %>
					<a class="button is-light" href="/groups/<%=group.id%>"><%=group.name%></a>
				<% end %>

				<br><br>

				<div class="control">
					    <a class="button is-info" href="/prayers/<%=@prayer.id%>/edit">Edit Prayer</a>
					    <a class="button is-danger" href="/prayers/<%=@prayer.id%>/delete">Delete</a>
				</div>
			<% end %>

			<br>
		</div>

	</div>
</div>